2012-05-21 工作清单 by 徐明昭
- 炸弹功能
- 金币被推来推去功能
- 手摇金币功能
- IAP功能
- 五个场景

2012-05-02 工作清单 by 徐明昭

OK - 金币掉落到中间触发老虎机功能。
OK - 普通攻击BOSS的逻辑。
- BOSS攻击特效与非攻击特效。
- 美术贴图更换（5个场景）。
OK - 菜单逻辑。
OK - 解锁BOSS，解锁物品的逻辑。
- IAP功能的验证。
